/* Contenedor principal que envuelve el video y el contenido embebido */
.container-wrapper-genially {
    position: relative; /* Permite posicionar elementos hijos de forma absoluta */
    min-height: 400px; /* Altura mínima del contenedor */
    max-width: 100%; /* Ancho máximo del contenedor */
}

/* Estilos para el video de carga */
.loader-genially {
    position: absolute; /* Posiciona el video de forma absoluta dentro del contenedor */
    top: 45%; /* Posiciona el video a 45% desde la parte superior del contenedor */
    left: 50%; /* Posiciona el video a 50% desde la izquierda del contenedor */
    transform: translate(-50%, -50%); /* Centra el video en el contenedor */
    width: 80px; /* Ancho del video */
    height: 80px; /* Altura del video */
    margin-bottom: 10%; /* Margen inferior del video */
}

/* Estilos para el contenedor embebido de Genially */
.genially-embed {
    margin: 0px auto; /* Centra el contenedor embebido horizontalmente */
    position: relative; /* Permite que los elementos hijos se posicionen de forma absoluta si es necesario */
    height: auto; /* Altura automática según el contenido */
    width: 100%; /* Ancho completo del contenedor */
}