/* Estilos generales para el cuerpo de la página */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #3f0064f3;
}

/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 26px 40px;
    color: #ffffff;
    height: 65px; 
}

/* Contenedor para el logo y el título */
.logo-titulo {
    display: flex;
    align-items: center;
}

/* Estilos para el logo */
.logo {
    width: 120px; 
    height: auto;
    
}

/* Estilos para el título */
.titulo {
    font-size: 28px; 
    margin: 0;
    font-weight: bold; 
}

/* Estilos para los botones de navegación */
.nav-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: #000000;
    padding: 10px 15px;
    text-align: center;
    color: #ffffff;
    outline: 0;
    transition: all  .2s ease;
    text-decoration: none;
}

/* Estilos para el estado hover de los botones */
.nav-button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Espacio entre el ícono y el texto en los botones */
.nav-button i {
    margin-right: 7px;
}

/* Estilos para la navegación */
.navegacion ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
}

/* Espaciado entre los elementos de la lista de navegación */
.navegacion li {
    margin-right: 15px; 
}

/* Estilos para los íconos */
.icon {
    height: 1.5rem;
    width: 1.5rem;
}

@media (max-width: 1024px) {
    header {
        flex-direction: column;
        padding: 15px;
        height: auto;
    }

    .titulo {
        font-size: 26px; 
    }

    .nav-button {
        padding: 8px 12px;
        font-size: 14px;
    }

    .navegacion ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navegacion li {
        margin-bottom: 10px; 
        margin-right: 0; 
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 24px; 
    }

    .nav-button {
        padding: 6px 10px;
        font-size: 12px;
    }

    .logo {
        width: 100px; 
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 20px; 
    }

    .nav-button {
        padding: 5px 8px;
        font-size: 10px;
    }

    .logo {
        width: 80px; 
    }

    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .navegacion ul {
        flex-direction: column;
        align-items: center;
    }

    .navegacion li {
        margin-bottom: 5px
    }
}
